#contact {
	color: #DAE1E7;
}

.contact {
	text-align: center;
	color: #DAE1E7;
}

.contact-title {
	font-size: 48px;
	font-weight: bold;
	line-height: 87px;
	letter-spacing: 0.02em;
	margin-bottom: 2px;
	margin-top: 0px;

	color: #DAE1E7;
}

.contact-info {
	width: 700px;
	max-width: 80vw;

	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.015em;

	color: #DAE1E7;
}

.link {
	color: #44E384;
	text-decoration: none;
	position: relative;

	&:after {
		content: '';
		display: block;
		border-bottom: 3px solid #44E384;
		bottom: -1px;
		left: 0;
		width: 0;
		position: absolute;
		-webkit-transition: 0.5s ease;
		transition: 0.5s ease;
	  }
	  
	  &:hover:after { 
		width: 100%; 
	  }
}