#home {
	background: url("../assets/bg.jpg");
	background-size: cover;
}

.info {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	text-align: center;
	color: #DAE1E7;
}

.credits {
	position: absolute;
	bottom: 15px;
	left: 15px;

	font-weight: bold;
	font-size: 20px;

	color: #DAE1E7;

	text-decoration: none;
}

.title {
	font-size: 64px;
	font-weight: bold;
	line-height: 87px;
	letter-spacing: 0.02em;
	margin-bottom: 2px;
}

.subtitle {
	margin-top: 0px;
	font-weight: bold;
	font-size: 30px;
	line-height: 41px;
	letter-spacing: 0.02em;
}

.description {
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.015em;
}

.interactions {
	font-weight: bold;
	font-size: 20px;
	color: #DAE1E7;
	text-align: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.interaction-buttons {
	margin-top: 20px;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	.button-github {
		background: white;
		border-radius: 15px;
		padding: 12px;

		&:hover {
			position: relative;
			top: -2px;
		}
	}
	.button-sharex {
		background: #fb4949;
		color: white;
		border-radius: 15px;
		padding: 12px;

		&:hover {
			position: relative;
			top: -2px;
		}
	}

	&.wide {
		width: 500px;
		max-width: 90vw;
	}
}

.recent-file {
	margin-top: 14px;
	
	display: flex;

	flex-direction: row;
	align-items: center;

	span {
		margin-left: 16px;
	}
}