.button {
	background: #44E384;
	border: none;
	border-radius: 10px;

	padding: 9px;
	margin-top: 5px;
	margin-bottom: 5px;

	font-family: "nunito";
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.015em;

	color: #434343;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background: lighten(#44E384, 10);
	}

	&.button-small {
		padding: 8px;
		font-size: 14px;
	}
	&.button-transparent {
		background: transparent;
		color: #44E384;
	}
}