.button {
	background: #44E384;
	border: none;
	border-radius: 10px;

	padding: 9px;

	font-family: "nunito";
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.015em;

	color: #434343;

	cursor: pointer;

	&:hover {
		background: lighten(#44E384, 10);
	}
}