.login-popup {
	position: absolute;

	box-sizing: border-box;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	min-width: 325px;
	min-height: 185px;
	padding: 15px;
	background: #292B30;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
}

.login-error {
	font-weight: bold;
	font-size: 16px;

	color: #e34444;
	margin-top: 5px;
	margin-bottom: 5px;

	width: 100%;
	text-align: center;
}

.login-buttons {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.popup-arrow {
	position: absolute;

	top: -10px;
	right: 13px;

	width: 28px;
	height: 28px;
	transform: rotate(45deg);

	background: #292B30;
}