
.upload-button-wrapper {
	width: 320px;
	max-width: 80vw;
	height: 50px;
	border-radius: 10px;

	position: relative;
	overflow: hidden;
}

.upload-progress {
	content: '';
	display: block;
	border-bottom: 5px solid #4454e3;
	bottom: -1px;
	left: 0;
	width: 0;
	position: absolute;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;

	pointer-events: none;
}

.upload-label {
	display: inline-block;

	width: 320px;
	max-width: 80vw;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	background: #44E384;

	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.015em;
	text-align: center;

	color: #434343;

	user-select: none;
	-moz-user-select: none;

	&:hover {
		cursor: pointer;
		background: darken(#44E384, 10);
	}
}